{% extends "principal.html" %}
{% load bootstrap %}

{% block content %}
        <!-- /.row -->
        <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-secondary">
                        <div class="panel-heading">
                            <i class="material-icons">delete</i> Eliminar contraseña {{ contrasena.nombre}}
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                   <form class="form-signin" action="{% url 'contrasena_delete' contrasena.pk %}" method="post">{% csrf_token %}
                                        <p>¿ De verdad quieres deshacerte de la contraseña "{{ contrasena.nombre}}" ?</p>
                                       {{ form | bootstrap}}
                                      <a href="{% url 'contrasenas_list' %}" class="waves-effect waves btn-flat">
                                <i class="material-icons">keyboard_return</i></a>
                                      <button class="waves-effect waves btn red" type="submit" ><i class="material-icons left">delete</i> Eliminar</button>
                                    </form>
                                </div>
                                <!-- /.col-lg-8 (nested) -->
                                <div class="col-lg-4">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                              <img class="activator" src="/static/niceAdmin/img/cards/trash.jpg">
                            </div>
                            <div class="card-content">
                              <span class="card-title activator grey-text text-darken-4">¿Vas a eliminar?<i class="material-icons right">more_vert</i></span>
                            </div>
                            <div class="card-reveal">
                              <span class="card-title grey-text text-darken-4">Eliminar<i class="material-icons right">close</i></span>
                              <p>Por evidentes razones de seguridad cualquier contraseña que elimines desaparecerá de todos lados; de la web, de la aplicación
                              y... bueno, ya está.</p>
                            </div>
                          </div>
                    </div>
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>

                </div>
        </div>
{% endblock %}