{% extends "principal.html" %}
{% load bootstrap %}

{% block content %}
        <!-- /.row -->
        <div class="row">
                <div class="col-lg-12">

                    <div class="panel panel-secondary">
                        <div class="panel-heading">
                            <i class="material-icons">mode_edit</i> Editar contraseña
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                   <form class="form-signin" action="{% url 'contrasena_edit' contrasena.pk %}" method="post" enctype="multipart/form-data">{% csrf_token %}
                                        {{ form | bootstrap }}
                                        <a href="{% url 'contrasenas_list' %}" class="waves-effect waves-white btn-flat">
                                <i class="material-icons">keyboard_return</i></a>
                                        <button id="submit" name="submit" class="waves-effect waves-white btn green" type="submit" value="Añadir" ><i class="material-icons left">done</i> Guardar</button>
                                    </form>

                                </div>

                                <!-- /.col-lg-8 (nested) -->
                                <div class="col-lg-4">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                              <img class="activator" src="/static/niceAdmin/img/cards/puerta_segura.jpg">
                            </div>
                            <div class="card-content">
                              <span class="card-title activator grey-text text-darken-4">Contraseñas...<i class="material-icons right">more_vert</i></span>
                            </div>
                            <div class="card-reveal">
                              <span class="card-title grey-text text-darken-4">Contraseñas<i class="material-icons right">close</i></span>
                              <p>Elegir una buena contraseña es importante si no quieres ser de esas personas que ponen "1234" en todos lados.
                              Y no te preocupes por poner una contraseña con números y letras sin sentido alguno, para eso estamos aquí.</p>
                            </div>
                          </div>
                    </div>
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>

                </div>
        </div>
{% endblock %}
{% block extrajs %}


{% endblock %}