{% extends "principal.html" %} {% load tags_usuarios %} {% block extracss %}
<!-- Page-Level Plugin CSS - Tables -->
<link href="{{ STATIC_URL }}niceAdmin/css/dataTables/dataTables.bootstrap.css" rel="stylesheet"> {% endblock %} 



{% block content %}
<!-- /.row -->
<div class="row">
    <div class="chip">
        <i class="material-icons left">help</i> Aquí tienes todas tus contraseñas ordenadas por su fecha de creación. Puedes crearlas,
        editarlas y eliminarlas.
    </div>
    <div class="chip">
        <i class="material-icons left">help</i> El botón azul con un ojo mostrará tu contraseña en un PopUp. 
        Puedes seleccionarla dando doble click sobre ella y copiarla.
    </div>
    <br>
    <br>
    <!--<div class="col-lg-12">-->
    <!--    <div class="panel">-->
    <!--        <div class="row">-->
    <!--            <div class="col-lg-12">-->
    <!--<a href="{% url 'contrasena_create' %}" class="waves-effect red btn"><i class="material-icons left">add</i> Añadir contraseña</a>-->
    <!--<a href="{% url 'contrasena_create' %}" class="btn btn-success "><i class="fa fa-plus-circle fa-fw"></i> Añadir contraseña</a>-->
    <!--            </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--</div>-->
    <div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
        <a href="{% url 'contrasena_create' %}" class="btn-floating btn-large green">
            <i class="waves-effect waves-white material-icons">add</i>
        </a>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-secondary">
            <div class="panel-heading">
                <i class="material-icons">lock</i> Tus contraseñas
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        {% if contrasenas %}
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped" id="contrasenas-list">
                                <thead>
                                    <tr>

                                        <th>Nombre</th>
                                        <th>Usuario</th>
                                        <th>Nivel</th>

                                        <th>Opciones</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for a in contrasenas %}
                                    <tr>

                                        <td><font size="4">{{ a.nombre }}</font></td>
                                        <td><font size="4">{{ a.usuarioweb }}</font></td>
                                        {% if a.nivel|is_nivel_c %}
                                        <td><i class="fa fa-lock fa-fw fa-3x" style="color:#e74c3c" onclick="Materialize.toast('Seguridad baja', 4000)"></i></td>

                                        {% elif a.nivel|is_nivel_b %}
                                        <td><i class="fa fa-lock fa-fw fa-3x" style="color:#e67e22" onclick="Materialize.toast('Seguridad media', 4000)"></i></td>

                                        {% elif a.nivel|is_nivel_a %}
                                        <td><i class="fa fa-lock fa-fw fa-3x" style="color:#2ecc71" onclick="Materialize.toast('Seguridad alta', 4000)"></i></td>

                                        {% elif a.nivel|is_nivel_s %}
                                        <td><i class="fa fa-lock fa-fw fa-3x" style="color:#3498db" onclick="Materialize.toast('Seguridad muy alta', 4000)"></i></td>

                                        {% endif %}
                                        <td>
                                            <a href="{% url 'contrasena_edit' a.pk %}" class="waves-effect waves-white btn green">
                                                <i class="material-icons">mode_edit</i>
                                            </a>
                                            <a href="{% url 'contrasena_delete' a.pk %}" class="waves-effect waves-white btn red">
                                                <i class="material-icons">delete</i>
                                            </a>
                                            <!--<a class="btn tooltipped blue darken-2" data-position="left" data-delay="50" data-tooltip="{{ a.contrasena }}"><i class="fa fa-eye fa-fw"></i></a></a>-->
                                            <a id="descifra_pass" class="waves-effect waves-white btn blue" onclick="JavaScript:descifra_pass({{a.pk}});">
                                                <i class="fa fa-eye fa-fw"></i></a>
                                            </i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                        {% else %}
                        <p>No hay contraseñas.</p>
                        {% endif %}
                    </div>

                    <!-- /.col-lg-8 (nested) -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>

{% endblock %}
{% block extrajs %}
<script type="text/javascript" >
function descifra_pass(pk) {
    
    $.post("/contrasenas/descifra_pass/", {
            pk: pk
        },
        function(data, status) {
            Materialize.toast(data.pass, 4000);
        });
}
</script>
<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script>
    $(document).ready(function() {
        // $('#contrasenas-list').dataTable({
        //     "oLanguage": {
        //         "sUrl": "{{ STATIC_URL }}niceAdmin/css/dataTables/i18n/es_ES.txt"
        //     }

        // });
        // $("#descifra_pass").click(function(){
        //     alert('2');
        // });
    });
</script>
{% endblock %}