{% extends "principal.html" %}
{% load bootstrap %}

{% block content %}
        <!-- /.row -->
        <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-secondary">
                        <div class="panel-heading">
                            <i class="material-icons">delete_forever</i> {{ usuario.username }}, ¿de verdad quieres borrar <b>todas</b> las contraseñas?
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                   <form class="form-signin" action="{% url 'super_delete' usuario.pk %}" method="post">{% csrf_token %}
                                   <h5>{{ usuario.username }}, ¿de verdad quieres borrar <font color="red"><b>todas</b></font> las contraseñas?</h5>
                                       {{ form | bootstrap}}
                                      <a href="{% url 'contrasenas_list' %}" class="waves-effect waves btn-flat">
                                <i class="material-icons">keyboard_return</i></a>
                                      <button class="waves-effect waves btn red" type="submit" ><i class="material-icons left">delete_forever</i> Borrar todo</button>
                                    </form>
                                </div>
                                <!-- /.col-lg-8 (nested) -->
                                <div class="col-lg-4">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                              <img class="activator" src="/static/niceAdmin/img/cards/danger.jpg">
                            </div>
                            <div class="card-content">
                              <span class="card-title activator grey-text text-darken-4">¿Vas a eliminar todo?<i class="material-icons right">more_vert</i></span>
                            </div>
                            <div class="card-reveal">
                              <span class="card-title grey-text text-darken-4">Eliminar todo<i class="material-icons right">close</i></span>
                              <p>A veces puedes querer mandar todo al infierno y si un día te ves en apuros esta es una opción. 
                              Si pulsas ese botón rojo no habrá vuelta atrás, piensa lo que estás haciendo.</p>
                            </div>
                          </div>
                    </div>
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>

                </div>
        </div>
{% endblock %}