{% load i18n %}
{% load staticfiles %}



<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Dreams Apps Creative - Construcciones Rodríguez">
    <meta name="author" content="Brayan Bermúdez Luque">
    <meta name="keyword" content="Principal, Usuarios, Empresas, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>UPass </title>

    <!-- Bootstrap CSS -->
    <link href="{{ STATIC_URL }}niceAdmin/css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="{{ STATIC_URL }}niceAdmin/css/bootstrap-theme.css" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="{{ STATIC_URL }}niceAdmin/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}niceAdmin/css/font-awesome.min.css" rel="stylesheet" />
    <!-- full calendar css-->
    <link href="{{ STATIC_URL }}niceAdmin/assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css" rel="stylesheet" />
	<link href="{{ STATIC_URL }}niceAdmin/assets/fullcalendar/fullcalendar/fullcalendar.css" rel="stylesheet" />
    <!-- easy pie chart-->
    <link href="{{ STATIC_URL }}niceAdmin/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen"/>
    <!-- owl carousel -->
    <link rel="stylesheet" href="{{ STATIC_URL }}niceAdmin/css/owl.carousel.css" type="text/css">
	<link href="{{ STATIC_URL }}niceAdmin/css/jquery-jvectormap-1.2.2.css" rel="stylesheet">
    <!-- Custom styles -->
	<link rel="stylesheet" href="{{ STATIC_URL }}niceAdmin/css/fullcalendar.css">
	<link href="{{ STATIC_URL }}niceAdmin/css/widgets.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}niceAdmin/css/style.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}niceAdmin/css/style-responsive.css" rel="stylesheet" />
	<link href="{{ STATIC_URL }}niceAdmin/css/xcharts.min.css" rel=" stylesheet">
	<link href="{{ STATIC_URL }}niceAdmin/css/jquery-ui-1.10.4.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
    <!--[if lt IE 9]>
      <script src="{{ STATIC_URL }}niceAdmin/js/html5shiv.js"></script>
      <script src="{{ STATIC_URL }}niceAdmin/js/respond.min.js"></script>
      <script src="{{ STATIC_URL }}niceAdmin/js/lte-ie7.js"></script>
    <![endif]-->

      {% block extracss %}
    {% endblock %}
    {% block extrahead %}
    {% endblock %}
  </head>

  <body class="login-img3-body">


          {% block wrapper %}

          <section class="wrapper" >
              {% block content %}
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Upass</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-8">

                <!-- /.col-lg-8 -->
                <div class="col-lg-4">
                </div>

                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
            {% endblock %}


          </section>
          {% endblock %}

    <!-- javascripts -->
    <script src="{{ STATIC_URL }}niceAdmin/js/jquery.js"></script>
	<script src="{{ STATIC_URL }}niceAdmin/js/jquery-ui-1.10.4.min.js"></script>
    <script src="{{ STATIC_URL }}niceAdmin/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}niceAdmin/js/jquery-ui-1.9.2.custom.min.js"></script>
    <!-- bootstrap -->
    <script src="{{ STATIC_URL }}niceAdmin/js/bootstrap.min.js"></script>
    <!-- nice scroll -->
    <script src="{{ STATIC_URL }}niceAdmin/js/jquery.scrollTo.min.js"></script>
    <script src="{{ STATIC_URL }}niceAdmin/js/jquery.nicescroll.js" type="text/javascript"></script>
    <!-- charts scripts -->
    <script src="{{ STATIC_URL }}niceAdmin/assets/jquery-knob/js/jquery.knob.js"></script>
    <script src="{{ STATIC_URL }}niceAdmin/js/jquery.sparkline.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}niceAdmin/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
    <script src="{{ STATIC_URL }}niceAdmin/js/owl.carousel.js" ></script>
    <!-- jQuery full calendar -->
    <<script src="{{ STATIC_URL }}niceAdmin/js/fullcalendar.min.js"></script> <!-- Full Google Calendar - Calendar -->
	<script src="{{ STATIC_URL }}niceAdmin/assets/fullcalendar/fullcalendar/fullcalendar.js"></script>
    <!--script for this page only-->
    <script src="{{ STATIC_URL }}niceAdmin/js/calendar-custom.js"></script>
	<script src="{{ STATIC_URL }}niceAdmin/js/jquery.rateit.min.js"></script>
    <!-- custom select -->
    <script src="{{ STATIC_URL }}niceAdmin/js/jquery.customSelect.min.js" ></script>
	<script src="{{ STATIC_URL }}niceAdmin/assets/chart-master/Chart.js"></script>

    <!--custome script for all page-->
    <script src="{{ STATIC_URL }}niceAdmin/js/scripts.js"></script>
    <!-- custom script for this page-->
    <script src="{{ STATIC_URL }}niceAdmin/js/sparkline-chart.js"></script>
    <script src="{{ STATIC_URL }}niceAdmin/js/easy-pie-chart.js"></script>
	<script src="{{ STATIC_URL }}niceAdmin/js/jquery-jvectormap-1.2.2.min.js"></script>
	<script src="{{ STATIC_URL }}niceAdmin/js/jquery-jvectormap-world-mill-en.js"></script>
	<script src="{{ STATIC_URL }}niceAdmin/js/xcharts.min.js"></script>
	<script src="{{ STATIC_URL }}niceAdmin/js/jquery.autosize.min.js"></script>
	<script src="{{ STATIC_URL }}niceAdmin/js/jquery.placeholder.min.js"></script>
	<script src="{{ STATIC_URL }}niceAdmin/js/gdp-data.js"></script>
	<script src="{{ STATIC_URL }}niceAdmin/js/morris.min.js"></script>
	<script src="{{ STATIC_URL }}niceAdmin/js/sparklines.js"></script>
	<script src="{{ STATIC_URL }}niceAdmin/js/charts.js"></script>
	<script src="{{ STATIC_URL }}niceAdmin/js/jquery.slimscroll.min.js"></script>
  <script>

      //knob
      $(function() {
        $(".knob").knob({
          'draw' : function () {
            $(this.i).val(this.cv + '%')
          }
        })
      });

      //carousel
      $(document).ready(function() {
          $("#owl-slider").owlCarousel({
              navigation : true,
              slideSpeed : 300,
              paginationSpeed : 400,
              singleItem : true

          });
      });

      //custom select box

      $(function(){
          $('select.styled').customSelect();
      });

	  /* ---------- Map ---------- */
	$(function(){
	  $('#map').vectorMap({
	    map: 'world_mill_en',
	    series: {
	      regions: [{
	        values: gdpData,
	        scale: ['#000', '#000'],
	        normalizeFunction: 'polynomial'
	      }]
	    },
		backgroundColor: '#eef3f7',
	    onLabelShow: function(e, el, code){
	      el.html(el.html()+' (GDP - '+gdpData[code]+')');
	    }
	  });
	});



  </script>

  </body>
</html>


