{% extends "principal.html" %} {% load tags_usuarios %} {% block extracss %}
<!-- Page-Level Plugin CSS - Tables -->
<link href="{{ STATIC_URL }}niceAdmin/css/dataTables/dataTables.bootstrap.css" rel="stylesheet"> {% endblock %} {% block content %}
<!-- /.row -->
<div class="row">
    <div class="chip">
        <i class="material-icons left">help</i> Esto es el generador, las contraseñas se dividen según el nivel de complejidad.
    </div>
    <div class="chip">
        <i class="material-icons left">help</i>
        No tienes que copiarlas enteras, sólo los trozos que prefieras. No siempre más longitud significa más seguridad.
    </div>
    <br>
    <br>
    <div class="waves-effect waves-white collapsible-header">
        <i class="material-icons">child_care</i>Fácil de recordar</div>
    <h5>{{ pal1 }}</h5>

    <div class="waves-effect waves-white collapsible-header">
        <i class="material-icons">fiber_pin</i>Números</div>
    <h5>{{ pal2 }}</h5>

    <div class="waves-effect waves-white collapsible-header">
        <i class="material-icons">whatshot</i>Alfanumérica</div>
    <h5>{{ pal3 }}</h5>

    <center>
        <a href="" class="waves-effect waves-light btn-large green"><i class="material-icons left">all_inclusive</i>Generar</a></center>

</div>
{% endblock %}