{% extends "cabecera.html" %}
{% load bootstrap %}

    {% block wrapper %}
    <div class="container">

      <form class="login-form" action="/login/" method="post">{% csrf_token %}
        <div class="login-wrap">
            <p class="login-img"><i>UPass</i></p>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_profile"></i></span>
                <input class=" form-control" id="id_username" maxlength="254" name="username" type="text" placeholder="Nombre de usuario" autofocus>
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                <input class=" form-control" id="id_password" name="password" type="password"  placeholder="Contraseña">
            </div>
            <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>

        </div>
      </form>

    </div>
{% endblock %}


