{% extends "principal.html" %}
{% load bootstrap %}


{% block wrapper %}
<div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-body">
                        <a href="/"> No tienes permisos para entrar, mala suerte amigo.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}