{% extends "principal.html" %} {% load tags_usuarios %} {% block extracss %}
<!-- Page-Level Plugin CSS - Tables -->
<link href="{{ STATIC_URL }}niceAdmin/css/dataTables/dataTables.bootstrap.css" rel="stylesheet"> {% endblock %} {% block content %}
<!-- /.row -->
<div class="row">
    <div class="chip">
        <i class="material-icons left">help</i>
        El botón rojo. El botón rojo de ahí abajo es peligroso, úsalo sólo en caso de emergencia.
    </div>
    <br>
    <br>
    <div class="collapsible-header" onclick="Materialize.toast('Hola {{ user.username }}', 4000)">
        <i class="material-icons">account_circle</i>Bienvenido {{ user.username }}</div>
    <h6><b>Número de contraseñas guardadas: {{ ncont }}</b></h6>
    <h6><i class="fa fa-lock fa-fw" style="color:#e74c3c"></i>Contraseñas de seguridad baja: {{ ncontc }}</h6>
    <h6><i class="fa fa-lock fa-fw" style="color:#e67e22"></i>Contraseñas de seguridad media: {{ ncontb }}</h6>
    <h6><i class="fa fa-lock fa-fw" style="color:#2ecc71"></i>Contraseñas de seguridad alta: {{ nconta }}</h6>
    <h6><i class="fa fa-lock fa-fw" style="color:#3498db"></i>Contraseñas de seguridad muy alta: {{ nconts }}</h6>

<br>
    <h6><b>Nivel de seguridad general:</b></h6>
    {% if levelp == 0 %}
    
  <h5 style="color:#e74c3c">Bajo</h5>
        
    {% endif %}
    {% if levelp == 1 %}
    
  <h5 style="color:#e74c3c">Bajo</h5>
        
    {% endif %}
    {% if levelp == 2 %}
    
  <h5 style="color:#e67e22">Medio</h5>
        
    {% endif %}
    {% if levelp == 3 %}
    
  <h5 style="color:#2ecc71">Alto</h5>
        
    {% endif %}
    {% if levelp == 4 %}
    
  <h5 style="color:#3498db">Muy alto</h5>
    
    {% endif %}
    <br>
    <br>
    <br>
    <center>
        <a href="{% url 'super_delete' user.pk %}" class="btn-large red">
            <i class="waves-effect waves-white material-icons left">delete_forever</i>
            Eliminar todas las contraseñas
        </a>

</div>
{% endblock %}