{% load i18n %} {% load staticfiles %}


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{ STATIC_URL }}niceAdmin/img/favicon.ico">

  <title>UPass</title>

  <!-- Bootstrap CSS -->
  <link href="{{ STATIC_URL }}niceAdmin/css/bootstrap.min.css" rel="stylesheet">
  <!-- bootstrap theme -->
  <link href="{{ STATIC_URL }}niceAdmin/css/bootstrap-theme.css" rel="stylesheet">
  <!--external css-->
  <!-- font icon -->
  <link href="{{ STATIC_URL }}niceAdmin/css/elegant-icons-style.css" rel="stylesheet" />
  <link href="{{ STATIC_URL }}niceAdmin/css/font-awesome.min.css" rel="stylesheet" />
  <!-- full calendar css-->
  <link href="{{ STATIC_URL }}niceAdmin/assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css" rel="stylesheet" />
  <link href="{{ STATIC_URL }}niceAdmin/assets/fullcalendar/fullcalendar/fullcalendar.css" rel="stylesheet" />
  <!-- easy pie chart-->
  <link href="{{ STATIC_URL }}niceAdmin/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen" />
  <!-- owl carousel -->
  <link rel="stylesheet" href="{{ STATIC_URL }}niceAdmin/css/owl.carousel.css" type="text/css">
  <link href="{{ STATIC_URL }}niceAdmin/css/jquery-jvectormap-1.2.2.css" rel="stylesheet">
  <!-- Custom styles -->
  <link rel="stylesheet" href="{{ STATIC_URL }}niceAdmin/css/fullcalendar.css">
  <link href="{{ STATIC_URL }}niceAdmin/css/widgets.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}niceAdmin/css/style.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}niceAdmin/css/style-responsive.css" rel="stylesheet" />
  <link href="{{ STATIC_URL }}niceAdmin/css/xcharts.min.css" rel=" stylesheet">
  <link href="{{ STATIC_URL }}niceAdmin/css/jquery-ui-1.10.4.min.css" rel="stylesheet">
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
  <!--[if lt IE 9]>
      <script src="{{ STATIC_URL }}niceAdmin/js/html5shiv.js"></script>
      <script src="{{ STATIC_URL }}niceAdmin/js/respond.min.js"></script>
      <script src="{{ STATIC_URL }}niceAdmin/js/lte-ie7.js"></script>
    <![endif]-->

  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}niceAdmin/css/materialize.min.css" media="screen,projection" />

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- javascripts -->
  <script src="{{ STATIC_URL }}niceAdmin/js/jquery.js"></script>
  <script src="{{ STATIC_URL }}niceAdmin/js/jquery-ui-1.10.4.min.js"></script>
  <script src="{{ STATIC_URL }}niceAdmin/js/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}niceAdmin/js/jquery-ui-1.9.2.custom.min.js"></script>


  {% block extracss %} 
  {% endblock %} 
  
  {% block extrahead %} 
  {% endblock %}
</head>

<body>
  <!-- container section start -->
  <section id="container" class="">


    <header class="header dark-bg">

      <!--logo start-->
      <p class="logo">U<span class="lite">Pass </span></p>
      <!--logo end-->

      <div class="top-nav notification-row">
        <!-- notificatoin dropdown start-->
        <ul class="nav pull-right top-menu">

          <!-- task notificatoin start -->

          <!-- task notificatoin end -->
          <!-- inbox notificatoin start-->
               <a class="waves-effect waves-light btn-flat  red lighten-1" href="/logout/">
                   <i class="material-icons">power_settings_new</i>
               </a>
          <!-- inbox notificatoin end -->
          <!-- alert notification start-->

          <!-- alert notification end-->
          <!-- user login dropdown start-->

          <!-- user login dropdown end -->
        </ul>
        <!-- notificatoin dropdown end-->
      </div>

    </header>
    <!--header end-->

    <!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">
          <li id="menu-usuario-nav" class="sub-menu hoverable">
            <a href="/perfil" class="waves-effect waves-light ">
                <i class="large material-icons left">sentiment_neutral</i>
              </span>
              <span>{{user.username}}</span>
            </a>
          </li>

          <li>
            <a class="waves-effect waves-light hoverable" href="{% url 'contrasenas_list' %}">
              <i class="large material-icons left">lock</i>
              <span>Contraseñas</span>
            </a>
          </li>
          <li>
            <a class="waves-effect waves-light hoverable" href="/generador">
              <i class="large material-icons left">all_inclusive</i>
              <span>Generador</span>
            </a>
          </li>
        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->

    <!--main content start-->
    <section id="main-content">
      {% block wrapper %}

      <section class="wrapper">
        {% block content %}
        <div class="row">
          <div class="col-lg-12">
            <h1 class="page-header">UPass</h1>
          </div>
          <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        {% endblock %}


      </section>
      {% endblock %}
    </section>
    <!--main content end-->
  </section>
  <!-- container section start -->


  <!-- bootstrap -->
  <!--<script src="{{ STATIC_URL }}niceAdmin/js/bootstrap.min.js"></script>-->
  <!-- nice scroll -->
    <!-- custom script for this page-->
{% block extrajs %}
{% endblock %}

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}niceAdmin/js/materialize.min.js"></script>
</body>

</html>
